//Background
body {
  background-color: $light-2;
}
.arena {
  max-width:960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
    //flex: 100%;
    max-width: 304px;
    max-height: 304px;
    min-width:100px;
    min-height: 100px;
    margin: 8px;
    padding:0;
  }
}
@media only screen and (max-width: 400px) {
  .arena {
    img {
      
    }
  }
}
