$image-width:calc(33.33333% - 18px);
$image-width-sm:calc(33.33333% - 0px);

//Background
body {
  background-color: $light-2;
  // background-color: white;
}
.arena {
  max-width:960px;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  .shape {
    margin:16px;
  }
  img {
    width:100%;
    margin:0;
    padding:0;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .arena {
    .shape{
      margin:8px;
    }
  }
}
@media only screen and (max-width: 475px) {
  .arena {
    .shape{
      margin:2px;
    }
  }
}
