---
title: 100 Days of Vector
---

.page
	%div.pos-a-mid.txt-c
		%h1 100 Days of Vector
		%div.type-white
			Create by
			%a.type-white{:href => "https://twitter.com/Elliotdahl", :target => "_blank"} @elliotdahl
