---
title: 100 Days of Vector
---

.page.background-color
	%div.txt-c
		%h1 100 Days
		%div
			Create by
			%a{:href => "https://twitter.com/Elliotdahl", :target => "_blank"} @elliotdahl
	%div.arena.txt-c
		%img{:src => "/images/example.png"}
		%img{:src => "/images/example.png"}
		%img{:src => "/images/example.png"}
		%img{:src => "/images/example.png"}
		%img{:src => "/images/example.png"}
		%img{:src => "/images/example.png"}


	-# %div.arena.txt-c
	-# 	.grid
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
	-# 	.grid
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
	-# 		.col
	-# 			%img{:src => "/images/example.png"}
